<% 
		if notification.notification_type== Notification::OFFER_POSTED #if it's a new offer notif
		 %>	
		<div class="notif <%= !notification.is_read ? 'selected': '' %>"><%= link_to "Vous avez reçu une nouvelle offre pour un projet", project_path(notification.target.project, :anchor =>"offer_#{notification.target.id}") %></div>
		<%	end 
		
		if notification.notification_type== Notification::PROJECT_ASSIGNED #if iit's a project assigned
		 %>	
		<div class="notif <%= !notification.is_read ? 'selected': '' %>"><%= link_to "Un projet vous a été assigné par un client", project_path(notification.target.target_id) %></div>
		<%	end %>
		 
		<%if notification.notification_type== Notification::PROJECT_VALIDATED #if iit's a project assigned %>
	
		<div class="notif <%= !notification.is_read ? 'selected': '' %>"><%= link_to (notification.target.chosen_offer.submitter.login + " a validé un projet et a soumis un planning"), dashboard_path( :projectid =>notification.target.id) %></div>

<%	end %>