	<h1>Inscription</h1>
<%= render 'shared/error_messages' %>

<%= simple_form_for @user, :validate => true do |f| %>

    <%= f.input :login, :required => false%>
    <%= f.input :email, :required => false %>
    <%= f.input  :password, :required => false %>
    <%= f.input :password_confirmation, :label => "Confirmation", :required => false %>
    <%= f.button :submit,  :value => "S'inscrire", :class => "btn btn-m"  %>

<% end %>