<div class="main-content">
	<header> 
        <h2>Inscription</h2> 
    </header>
	<section class="clearfix"> 
		<%= render 'shared/error_messages' %>
		
				
			<%= simple_form_for @user, :validate => true, :html => { :class => "form"} do |f| %>
		
			    <%= f.input :login, :required => true, :wrapper_html => { :class => "clearfix"} %> 
				
				<div class="clearfix"> 
			    <%= f.input :email, :required => false, :type=>"text" %>
				</div>
			    <%= f.input  :password, :required => false %>
				<div class="clearfix"> 	</div>
			    <%= f.input :password_confirmation, :label => "Confirmation", :required => false %>
				<div class="action clearfix"> 	
				<div class="clearfix"> 	</div>				
			    	<%= f.button :submit,  :value => "S'inscrire", :class => "button button-gray"  %>
				</div>
			<% end %>
    </section> 
</div>
		