<div class="aside">
	<div class="content-switcher-list">
		<ul>
			<li class="active">
				<%= link_to "Overview", @user %>	
			</li>
            <li>
                <%= link_to "Edit", edit_user_path(current_user) %>
            </li>
			<li >
				<%= link_to "Skills", root_path %>	
			</li>
		</ul>
	</div>
</div>
<div class="contents">
	<div id="content-switcher-placeholder">
  		<%= gravatar_for @user %>
        <% if @user.avatar_url %>
        <%= image_tag @user.avatar_url(:thumb).to_s %>
        <%end %>
        <%= @user.login %>
        <%= @user.email %>
	</div>
</div>


<div class="clear"> </div>

