
<%= render 'pages/dashboardHeader' %>

<div class="main-content">
	<header>
		<h2>Tableau de bord
		</h2> 
    </header>
    <section class="sortable container_6 clearfix">
		<div class="grid_6">
			<ul class="tabs">
				<li><%= link_to "Dashboard",dashboard_path(:projectid => @project.id) %></li>
                <li><%= link_to "Tâches", project_tasks_path(@project.id) %></li>
                <li><%= link_to "Jalons", project_milestones_path(@project.id) %></li>
           		<li><%= link_to "Planning", gantt_path(:projectid => @project.id) %></li>
           	    <li><%= link_to "Fichiers", files_path(:projectid => @project.id) %></li>
           	    <li><%= link_to "Messages", messages_path(:projectid => @project.id) %></li>
				<li><%= link_to "Anomalies", anomalies_path(:projectid => @project.id), :class => "current" %></li>
            </ul>
		</div>
		
		<table class="datatable tablesort selectable paginate full">
			<thead>
				<tr>
					<th style="width: 30px" ><a href="#">N</a></th>
					<th style="width: 100px"><a href="#">Description</a></th>
					<th style="width: 200px"><a href="#">Responsable</a></th>
					<th style="width: 430px"><a href="#">Description</a></th>
					<th style="width: 100px"><a href="#">Date</a></th>
					<th></th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>N</th>
					<th>Description</th>
					<th>Responsable</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th></th>
				</tr>
			</tfoot>
<% if @project.id==1%>
	        <tbody style="display: table-row-group;">
				<tr class="red-list">
					<td style="padding:5px">8</td>
		            <td style="padding:5px">ouverte</td>
		            <td>Freelancer</td>
		            <td>Liste d'employés incomplète</td>
		            <td>2 oct</td>
		            <td>
		                <a class="view-details" href="#">Apercu</a>
		                <div class="overlay-details"><a class="close"></a>
		                    <header class="clearfix">
		                        <div class="avatar fl">
		                            <img width="50" height="50" src="/images/profile_photo.jpg">
		                        </div>
		                        <hgroup>
		                            <h2>Cedric Boulanger</h2>
		                            <h6>Team leader - Systèmes de facturation</h6>
		                            <h6>Ext. 2281</h6>
		                        </hgroup>
		                    </header>
		                    <section>
								Ceci est le corps du message.
		                    </section>
		                </div>
		            </td>
		        </tr><tr class="blue-list">
					<td style="padding:5px">2</td>
		            <td style="padding:5px">en correction</td>
		            <td>Freelancer</td>
		            <td>Quand on choisit le type "correction", on a une erreur 202</td>
		            <td>1 oct</td>
		            <td>
		                <a class="view-details" href="#">Apercu</a>
		                <div class="overlay-details"><a class="close"></a>
		                    <header class="clearfix">
		                        <div class="avatar fl">
		                            <img width="50" height="50" src="/images/profile_photo.jpg">
		                        </div>
		                        <hgroup>
		                            <h2>Cedric Boulanger</h2>
		                            <h6>Team leader - Systèmes de facturation</h6>
		                            <h6>Ext. 2281</h6>
		                        </hgroup>
		                    </header>
		                    <section>
								Ceci est le corps du message.
		                    </section>
		                </div>
		            </td>
		        </tr><tr class="blue-list">
					<td style="padding:5px">4</td>
		            <td style="padding:5px">en correction</td>
		            <td>Freelancer</td>
		            <td>Liste d'employés incomplète</td>
		            <td>28 sept</td>
		            <td>
		                <a class="view-details" href="#">Apercu</a>
		                <div class="overlay-details"><a class="close"></a>
		                    <header class="clearfix">
		                        <div class="avatar fl">
		                            <img width="50" height="50" src="/images/profile_photo.jpg">
		                        </div>
		                        <hgroup>
		                            <h2>Cedric Boulanger</h2>
		                            <h6>Team leader - Systèmes de facturation</h6>
		                            <h6>Ext. 2281</h6>
		                        </hgroup>
		                    </header>
		                    <section>
								Ceci est le corps du message.
		                    </section>
		                </div>
		            </td>
		        </tr><tr class="green-list">
					<td style="padding:5px">3</td>
		            <td style="padding:5px">en validation</td>
		            <td>Cedric Boulanger</td>
		            <td>Temps de calcul très long si le provider=1</td>
		            <td>28 sept</td>
		            <td>
		                <a class="view-details" href="#">Apercu</a>
		                <div class="overlay-details"><a class="close"></a>
		                    <header class="clearfix">
		                        <div class="avatar fl">
		                            <img width="50" height="50" src="/images/profile_photo.jpg">
		                        </div>
		                        <hgroup>
		                            <h2>Cedric Boulanger</h2>
		                            <h6>Team leader - Systèmes de facturation</h6>
		                            <h6>Ext. 2281</h6>
		                        </hgroup>
		                    </header>
		                    <section>
								Ceci est le corps du message.
		                    </section>
		                </div>
		            </td>
		        </tr>
			</tbody>
<% end %>
		</table>
	</section>
</div>