
<%= render 'pages/dashboardHeader' %>

   <div class="main-content"> 
        <header> 
            <h2> 
				Tableau de bord
            </h2> 
        </header> 
        <section class="sortable container_6 clearfix"> 
                <div class="grid_6"> 
					<ul class="tabs">
	                    <li><%= link_to "Dashboard",dashboard_path(:projectid => @project.id), :class => "current" %></li>
	                    <li><%= link_to "Tâches", project_tasks_path(@project.id) %></li>
	                    <li><%= link_to "Jalons", project_milestones_path(@project.id) %></li>
	                </ul>
                </div> 
                <div class="grid_3 widget-container" id="sortable-1" draggable="true"> 
                    <h2 class="task-icon">Tâches</h2> 
                    <div class="widget "> 
                        <header> 
                            <ul class="fr action-buttons small"> 
                                <li><a href="#" class="widget-close"><span class="close"></span></a></li> 
                            </ul> 
                            <h2><a >Afficher les tâches</a></h2> 
                        </header> 
                        <section> 
							<table class="widget-in  full">
					            <% if !@expiredtasks.empty? %>
					  			 	<tr class="red-list">
					             		<td style="width: 80% ;padding-left:10px;">Tâches expirées</td>
										<td style="width: 20%">retard</td>
					              	</tr>
								 	<% @expiredtasks.each do |task| %>
								  		<tr >
								  			<td style="width: 80%"><%= task.name %></td>
											<td style="width: 20%"><%= distance_of_time_in_words_to_now(task.end_date) %></td>
								 		</tr>
									<% end %>
								<% end %>

					            <% if !@currenttasks.empty? %>					
					              	<tr class="blue-list">
					                	<td style="width: 80%;padding-left:10px;">Tâches en cours</td>
										<td style="width: 20%">fin dans</td>
					              	</tr>
								 	<% @currenttasks.each do |task| %>
								  		<tr >
								  			<td style="width: 80%"><%= task.name %></td>
											<td style="width: 20%"><%= distance_of_time_in_words_to_now(task.end_date) %></td>
								 		</tr>
									<% end %>
								<% end %>

					            <% if !@comingtasks.empty? %>										
					              <tr class="green-list">
					                <td style="width: 80%;padding-left:10px;">Tâches à venir</td>
									<td style="width: 20%">dans</td>
					              </tr>
								 	<% @comingtasks.each do |task| %>
								  		<tr >
								  			<td style="width: 80%"><%= task.name %></td>
											<td style="width: 20%"><%= distance_of_time_in_words_to_now(task.end_date) %></td>
								 		</tr>
									<% end %>
								<% end %>
							</table>
                            
                        </section> 
                    </div> 
                </div> 
                <div class="grid_3 widget-container" id="sortable-2" draggable="true"> 
                    <h2 class="milestone-icon">Jalons</h2> 
                    <div class="widget "> 
                        <header> 
                            <ul class="fr action-buttons small"> 
                                <li><a href="#" class="widget-close"><span class="close"></span></a></li> 
                            </ul> 
                            <h2><a >Afficher les jalons</a></h2> 
                        </header> 
                        <section> 
							<table class="widget-in  full">
								<% if !@expiredmilestones.empty? %>
					              <tr class="red-list">
					                <td style="width: 80% ;padding-left:10px;">Jalons dépassés</td>
									<td style="width: 20%">retard</td>
					              </tr>
								 	<% @expiredmilestones.each do |mil| %>
								  		<tr >
								  			<td style="width: 80%"><%= mil.name %></td>
											<td style="width: 20%"><%= distance_of_time_in_words_to_now(mil.date) %></td>
								 		</tr>
									<% end %>
								<% end %>

								<% if !@comingmilestones.empty? %>					
					              <tr class="green-list">
					                <td style="width: 80%;padding-left:10px;">Prochains Jalons</td>
									<td style="width: 20%">dans</td>
					              </tr>
								 	<% @comingmilestones.each do |mil| %>
								  		<tr >
								  			<td style="width: 80%"><%= mil.name %></td>
											<td style="width: 20%"><%= distance_of_time_in_words_to_now(mil.date) %></td>
								 		</tr>
									<% end %>
								<% end %>
							</table>
                        </section> 
                    </div> 
                </div> 
                <div class="grid_3 widget-container" id="sortable-3" draggable="true"> 
                    <h2 class="message-icon">Messages</h2> 
                    <div class="widget "> 
                        <header> 
                            <ul class="fr action-buttons small"> 
                                <li><a href="#" class="widget-close"><span class="close"></span></a></li> 
                            </ul> 
                            <h2><a >Afficher les messages</a></h2> 
                        </header> 
                        <section> 
							<table class="widget-in  full">
					              <tr class="blue-list">
									<td style="width: 80%">Objet</td>
									<td style="width: 20%">Date</td>
					              </tr>
								  <tr >
					                <td style="width: 80%" class="new-message">Heure du point téléphonique</td>
									<td style="width: 20%"  class="new-message">2 oct</td>
					              </tr>
								  <tr >
					                <td style="width: 80%" class="new-message">Liste des objets à utiliser</td>
									<td style="width: 20%" class="new-message">1 oct</td>
					              </tr>
								  <tr >
					                <td style="width: 80%">Charte graphique incomplète</td>
									<td style="width: 20%">29 sept</td>
					              </tr>
								  <tr >
					                <td style="width: 80%">Suite à notre échange ce matin</td>
									<td style="width: 20%">28 sept</td>
					              </tr>
				
							</table>
                        </section> 
                    </div> 
                </div> 
                <div class="grid_3 widget-container" id="sortable-4" draggable="true"> 
                    <h2 class="bug-icon">Anomalies</h2> 
                    <div class="widget "> 
                        <header> 
                            <ul class="fr action-buttons small"> 
                                <li><a href="#" class="widget-close"><span class="close"></span></a></li> 
                            </ul> 
                            <h2><a >Afficher les anomalies</a></h2> 
                        </header> 
                        <section> 
							<table class="widget-in  full">
					              <tr class="red-list">
					                <td style="width: 10%">N°</td>
									<td style="width: 60%">Description (ouverte)</td>
									<td style="width: 20%">respo</td>
					              </tr>
								  <tr >
					                <td style="width: 10%">8</td>
									<td style="width: 60%">liste d'employés incomplète</td>
									<td style="width: 20%">moi</td>
					              </tr>

					
					              <tr class="blue-list">
					                <td style="width: 10%">N°</td>
									<td style="width: 60%">Description (en correction)</td>
									<td style="width: 20%">respo</td>					            
					              </tr>
								  <tr >
					                <td style="width: 10%">2</td>
									<td style="width: 60%">quand on choisi le type "correction", on a une erreur 202</td>
									<td style="width: 20%">moi</td>
					              </tr>
								  <tr >
					                <td style="width: 10%">4</td>
									<td style="width: 60%">liste d'employés incomplète</td>
									<td style="width: 20%">moi</td>
					              </tr>								 
									
					              <tr class="green-list">
					                <td style="width: 10%">N°</td>
									<td style="width: 60%">Description (en validation)</td>
									<td style="width: 20%">respo</td>					               
					              </tr>
								  <tr >
					                <td style="width: 10%">3</td>
									<td style="width: 60%">Temps de calcul très long si le provider=1</td>
									<td style="width: 20%">hichem</td>
					              </tr>							
							</table>
                        </section> 
                    </div> 
                </div> 
              
        </section> 
    </div> 


    <!-- End Analytics Section --> 

 
