
<%= render 'pages/dashboardHeader' %>

   <div class="main-content"> 
        <header> 
            <h2> 
				Tableau de bord
            </h2> 
        </header> 
        <section class="sortable container_6 clearfix"> 
	
                <div class="grid_6"> 
					<ul class="tabs">
						<li><%= link_to "Dashboard",dashboard_path(:projectid => @project.id) %></li>
	                    <li><%= link_to "Tâches", project_tasks_path(@project.id) %></li>
	                    <li><%= link_to "Jalons", project_milestones_path(@project.id) %></li>
	               		<li><%= link_to "Planning", gantt_path(:projectid => @project.id), :class => "current" %></li>
	               	    <li><%= link_to "Fichiers", files_path(:projectid => @project.id) %></li>
	               	    <li><%= link_to "Messages", messages_path(:projectid => @project.id) %></li>
						<li><%= link_to "Anomalies", anomalies_path(:projectid => @project.id) %></li>
	                </ul>
                </div> 
                <div > 
                    <% str_xml = render :file=>"pages/ss_array_data",:locals=>{:tasks => @tasks} 
					render_chart '/FusionCharts/FCF_Gantt.swf', '', str_xml, 'Tasks', 940, 400, false, false %>
                </div> 
              

        </section> 
    </div> 


    <!-- End Analytics Section --> 

 
