<div class="main-content grid_4 alpha">
    <header>
        <h2>
            Statistiques
        </h2>

    </header>
                <section class="container_6 clearfix">
                <div class="grid_1">
                    <div class="widget black ac">
                        <header><h2>Projets ouverts</h2></header>
                        <section><h1>20</h1></section>

                    </div>
                </div>
                <div class="grid_1">
                    <div class="widget black ac">
                        <header><h2>Anos ouvertes</h2></header>
                        <section><h1>11</h1></section>
                    </div>
                </div>

                <div class="grid_1 omega">
                    <div class="widget black ac">
                        <header><h2>Alertes</h2></header>
                        <section><h1>3</h1></section>
                    </div>
                </div>
                
              
                </section>

</div>
<!-- End Statistics Section -->




<div class="main-content grid_4 omega">
    <header>
        <h2>
            Alertes
        </h2>

    </header>
                <section>
                <div class="error">
                    Le jalon <a>livraison intermédiaire</a> a été depassé
                </div>
                <div class="alert">
                    La tâche <a>développemment du lot 1</a>arrive à sa fin dans 2 jours
                </div>
                <div class="error">
                    La tâche <a>rédaction des specs</a> a expiré
                </div>
              
                </section>

</div>

<div class="clear"></div>


     <!-- Accordion Section -->
     <div class="main-content list_proj ">
         <header><h2>Mes projets en cours</h2></header>
         <section class="accordion clearfix">

           	<% @myprojects.each do |project| %>
             <header>
				<ul class="small-btn clearfix fr">    
										<li>
											<div title="Avancement du projet" class="progress progress-green">
											 <%	p=rand(100)  %>
												<%=  ('<span style="width: ' + p.to_s + '%">').html_safe %>
													<b><%= p.to_s + "%" %></b> 
												</span>
											</div>
										</li>
					<li><%= link_to "Afficher", project_path(project.id), :class=>"button-blue" %></li>
					<li><%= link_to "Gérer", dashboard_path(:projectid => project.id), :class=>"button-orange" %></li>
             	</ul>
				<h2><%= project.title %></h2>
			 </header>
             <section>
                 <p><%= project.objective %></p>
             </section>
			<% end %>
         </section>
     </div>
     <!-- End Accordion Section -->


    <!-- End Analytics Section --> 




   <div class="main-content ">

         <header>
             <h2>Activité récente</h2>
         </header>
         <section class="clearfix">
          	    <h4 class="message-icon">Coder4 vous a envoyé un nouveau <%= link_to "message", "#" %></h4>
				<p class="time">il y a 1 jour</p>
				<h4 class="task-icon">Coder6 a soumis une proposition pour votre <%= link_to "projet", "#" %></h4>
				<p class="time">il y a 1 jour</p>
				<h4 class="milestone-icon">Coder10 a accepté le nouveau <%= link_to "milestone", "#" %></h4>
				<p class="time">il y a 2 jours</p>
				<h4 class="message-icon">Coder11 vous a envoyé un nouveau <%= link_to "message", "#" %></h4>
				<p class="time">il y a 3 jours</p>
         </section>
     </div>
     <!-- End Forms Section -->

