<% if signed_in? %> 
<div class="main-content grid_4 alpha">
    <header>
        <h2>
            Statistiques
        </h2>

    </header>
                <section class="container_6 clearfix">
                <div class="grid_1">
                    <div class="widget black ac">
                        <header><h2>Projets ouverts</h2></header>
                        <section><h1><%= @myprojects ? @myprojects.count : "0" %></h1></section>

                    </div>
                </div>
                <div class="grid_1">
                    <div class="widget black ac">
                        <header><h2>Anos ouvertes</h2></header>
                        <section><h1>0</h1></section>
                    </div>
                </div>

                <div class="grid_1 omega">
                    <div class="widget black ac">
                        <header><h2>Alertes</h2></header>
                        <section><h1><%= @nbalerts %></h1></section>
                    </div>
                </div>
                
              
                </section>

</div>
<!-- End Statistics Section -->




<div class="main-content grid_4 omega">
    <header>
        <h2>
            Alertes
        </h2>

    </header>
                <section>  
	
				<%@actions.each do |action|%>
					<div class="error">
						<%if action.action_type == Action::VALIDATE_PROJECT and action.status==1%>
	                  		Vous avez un <%= link_to "projet", project_path(action.target)%> à confirmer
						<%end%>
	             	</div>
				<%end%>
				<%if @expiredtasks
					@expiredtasks.each do |task| %>
                	<div class="error">
                    	La tâche <a><%=task.name%></a> a expiré
                	</div>

				<%	end
				end%>
               
				<%if @expiredmilestones
					@expiredmilestones.each do |milestone| %>
                	<div class="error">
                    	Le jalon <a><%=milestone.name%></a> a été depassé
                	</div>

				<%	end
				end%>
              
                </section>

</div>

<div class="clear"></div>

     <!-- Accordion Section -->
     <div class="main-content list_proj ">
         <header><h2>Mes projets en cours</h2></header>
         <section class="accordion clearfix">
		   <% if  @myprojects %>
	
           	<% @myprojects.each do |project| %>
				
             <header>
				<ul class="small-btn clearfix fr">    
										<li>
											<div title="Avancement du projet" class="progress progress-green">
											 
												<%=  ('<span style="width: ' + total_progress(project).to_s + '%">').html_safe %>
													<b><%= total_progress(project).to_s + "%" %></b> 
												</span>
											</div>
										</li>
					<li><%= link_to "Afficher", project_path(project.id), :class=>"button-blue" %></li>
				
					<li><%= link_to "Gérer", dashboard_path(:projectid => project.id), :class=>"button-orange" %></li>
             	</ul>
				<h2><%= project.title %></h2>
			 </header>
             <section>
                 <p><%= project.objective %></p>
             </section>
				<%end%>
			<%else%>
				<header>
					<h2>Aucun projet en cours</h2>
				</header>
			 
			<%end%>
         </section>
     </div>
     <!-- End Accordion Section -->


    <!-- End Analytics Section --> 




   <div class="main-content ">

         <header>
             <h2>Activité récente</h2>
         </header>
         <section class="clearfix">
          	    <h4 class="message-icon">Coder4 vous a envoyé un nouveau <%= link_to "message", "#" %></h4>
				<p class="time">il y a 1 jour</p>
				<h4 class="task-icon">Coder6 a soumis une proposition pour votre <%= link_to "projet", "#" %></h4>
				<p class="time">il y a 1 jour</p>
				<h4 class="milestone-icon">Coder10 a accepté le nouveau <%= link_to "milestone", "#" %></h4>
				<p class="time">il y a 2 jours</p>
				<h4 class="message-icon">Coder11 vous a envoyé un nouveau <%= link_to "message", "#" %></h4>
				<p class="time">il y a 3 jours</p>
         </section>
     </div>
     <!-- End Forms Section -->

<% end %> 

<% if !signed_in? %> 
	 <div id="welcome" class="main-content ">
   
         <section class="clearfix">

			<div class="page-title"> <img id="logo" src="/images/logo4_linkao.jpg" width="233" height="100"/> </div>	
			<h2 class="page-subtitle">Your link to the people's cloud</h2>			
			<img alt="" src="/images/screen.png">
        
         </section>

     </div>
	   
	<div class="clearfix ">
		<div class="main-content grid_9 alpha">
        	<section class="pilar">
				<div class="red-title">Partage des “best practices”</div>
			
         	</section>
		</div>
		<div class="main-content grid_9 ">
         	<section class="pilar">
				<div class="blue-title">Vision consolidée des projets</div>
	
         	</section>
		</div>
			<div class="main-content grid_9 omega">
	         <section class="pilar">
				<div class="green-title">Maîtrise des risques et réduction des retards</div>
				
	         </section>
			</div>		
	</div>

<% end %> 
	
