

<%= simple_form_for @search, :url => projects_path, :html => {:method => :get} do |f| %>
  	<%= f.input :title_or_objective_contains,  :label => "Mots clés", :required => false %>
	<%= f.input :created_at_greater_than, :input_html => { :class => 'datepicker' },  :label => "Posté après", :required => false %>
	<%= f.input :start_date_greater_than, :input_html => { :class => 'datepicker' },  :label => "Débute après", :required => false   %>
	


<div class="span-10" >
	<fieldset>
		<legend>
			<span>
				Status
			</span>
		</legend>
		<ul class="multi-check no-scroll" style="height: 100px; overflow-y: auto; ">
			<li> 
				<%= check_box_tag "chk_proj_status","chk_proj_status",true %> 
				<label class="alllabel" for="chk_proj_status">Tous les status</label>
			</li>
			<% f.checks :status_in,
    		[['Actif', 'Actif'], ['En cours', 'En cours'], ['Realisé', 'Realisé']] ,:class => 'checkboxy' do |check| %>
 				<li> 
				<%= check.box %> <%= check.label %> 
				</li>

			 <% end %> 
		 </ul> 

	</fieldset>


	
	
	<fieldset>
		<legend>
			<span>
				Applications connexes
			</span>
		</legend>
		<ul class="multi-check scroll" style="height: 105px; overflow-y: auto; ">
			<li> 
				<%= check_box_tag "chk_proj_apps","chk_proj_apps",true %> 
				<label class="alllabel" for="chk_proj_apps">Toutes les apps</label>
			</li>
  			<% f.collection_checks :applications_id_in, Application.all,
      		:id, :name do |check| %>
   				<li> 
				<%= check.box %> <%= check.label %> 
				</li>

			<% end %>
		</ul>

	</fieldset>
</div>

<div class="span-10" >
	<fieldset>
		<legend>
			<span>
				Type
			</span>
		</legend>
		<ul class="multi-check no-scroll" style="height: 105px; overflow-y: auto; ">
			<li> 
			<%= check_box_tag "chk_proj_type","chk_proj_stype",true %> 
			<label class="alllabel" for="chk_proj_type">Tous les types</label>
			</li>
			<% f.collection_checks :pr_project_type_id_in, PrProjectType.all,
    		:id, :ptype do |check| %>
 			<li> 
				<%= check.box %> <%= check.label %> 
			</li>

			<% end %>
		</ul>

	</fieldset>
	
	<fieldset>
		<legend>
			<span>
				Langages de programmation 
			</span>
		</legend>
		<ul class="multi-check scroll" style="height: 105px; overflow-y: auto; ">
			<li> 
				<%= check_box_tag "chk_proj_langs","chk_proj_langs",true %> 
				<label class="alllabel" for="chk_proj_langs">Tous les languages</label>
			</li>
  			<% f.collection_checks :prog_langs_id_in, ProgLang.all,
      		:id, :name do |check| %>
   				<li> 
				<%= check.box %> <%= check.label %> 
				</li>

			<% end %>
		</ul>

	</fieldset>

	
</div>
	 <%= f.button :submit,  :value => "Rechercher", :class => "btn btn-m"  %>
<% end %>