<div class="main-content">
	<header> 
        <h2>Création d'un nouveau projet</h2> 
    </header>
	<section class="clearfix">

		
<% if @project.errors.any? %>
  <div id="error_explanation">
    <p>Erreur lors de l'enregistrement du projet:</p>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

 		<div id="wizard_form">
<%= simple_form_for @project, :html => {:multipart => true} do |f| %>
		
	<div id="wizard" class="swMain">
	  <ul>
	    <li><a href="#step-1">
	          <label class="stepNumber">1</label>
	          <span class="stepDesc">
	             <!-- Step 1<br /> -->
	             <small>Type du projet</small>
	          </span>
	      </a></li>
	    <li><a href="#step-2">
	          <label class="stepNumber">2</label>
	          <span class="stepDesc">
	             <!-- Step 2<br /> -->
	             <small>Utilisation</small>
	          </span>
	      </a></li>
	    <li><a href="#step-3">
	          <label class="stepNumber">3</label>
	          <span class="stepDesc">
	             <!-- Step 3<br /> -->
	             <small>Applications interfacées</small>
	          </span>                   
	       </a></li>
	    <li><a href="#step-4">
	          <label class="stepNumber">4</label>
	          <span class="stepDesc">
	             <!-- Step 4<br /> -->
	             <small>Description du projet</small>
	          </span>                   
	      </a></li>
	    <li><a href="#step-5">
	          <label class="stepNumber">5</label>
	          <span class="stepDesc">
	             <!-- Step 5<br /> -->
	             <small>Détails techniques</small>
	          </span>                   
	      </a></li>
		<li><a href="#step-6">
	          <label class="stepNumber">6</label>
	          <span class="stepDesc">
	             <!-- Step 6<br /> -->
	             <small>Délais</small>
	          </span>                   
	      </a></li>
	  </ul>
		  <div id="step-1">   
			<h2 class="StepTitle">Quel type de projet voulez vous lancer?</h2>
			<div id="Step1_content">
				<div class="proj_type_select">
			
				 
				 <% for prtype in PrProjectType.find(:all) %>

				       <%= radio_button_tag "project[pr_project_type_id]", prtype.id, @project.pr_project_type_id == prtype.id, 
						:style => "display:none"  %>
					   <%= label :project,:pr_project_type_id, "#{prtype.image_path}#{prtype.ptype}".html_safe, :value => prtype.id  %>	   
				 <% end %>
				</div>	
			</div>	
				
		 	<div class="clear"> </div>	      
		  </div>
	  
		<div id="step-2">
		      <h2 class="StepTitle">Ce projet est destiné pour quel type d'utilisation?</h2> 
				<div id="Step2_content">
					<%= f.association :pr_nb_user , :label_method => :number, :label => "Nombre d'utilisateurs", :prompt => "Selectionnez une valeur",  :wrapper_html => { :class => "clearfix"} %>
					<%= f.association :pr_usage_freq , :label_method => :freq, :label => "Fréquence d'utilisation",:prompt => "Selectionnez une valeur", :wrapper_html => { :class => "clearfix"} %>
			       	<%= f.association :pr_process_time , :label_method => :time, :label => "Temps de réponse exig",:prompt => "Selectionnez une valeur", :class => "clearfix" %>
		  		</div>  
		</div>                     
		<div id="step-3">						
			<h2 class="StepTitle">Veuillez indiquer les applications existantes qui seront reliées à ce projet: bases de données partagées, données partagées en entrée ou en sortie...</h2>  
			<div id="Step3_content"> 
		       	<%= f.input :application_tokens, :as => :text, :label => "Applications" %>
		  	</div>
		</div>	  
	
	
		<div id="step-4">
			<h2 class="StepTitle">Indiquez le nom et l(es) ojectif(s) du projet. Soyez précis et commencez par le plus important.</h2>
			<div id="Step4_content">   
				<%= f.input :title, :required => false, :label => "Nom du projet", :wrapper_html => { :class => "clearfix"}%> 
				<%= f.input :objective, :required => false, :label => "Objectif", :input_html => { :cols => 47, :rows => 7 }, :wrapper_html => { :class => "clearfix"}%> 
				<%= label :project,:specfile, "Spécification"%>	
				<%= f.file_field :specfile, :class => "file_input" 	%>  
			</div>	  
		</div>
	
		<div id="step-5">
			<h2 class="StepTitle">Remplissez cette partie uniquement si vous avez déjà fait des choix technologiques.</h2> 
				<div id="Step5_content">  
					<%= f.association :pr_arch , :label_method => :arch, :label => "Architecture", :prompt => "Selectionnez une valeur", :wrapper_html => { :class => "clearfix"} %>		
					<%= f.input :prog_lang_tokens, :as => :text, :label => "Langages de programmation", :wrapper_html => { :class => "clearfix"} %>  
					<%= f.input :func_skills, :required => false, :label => "Compétences fonctionnelles", :wrapper_html => { :class => "clearfix"}%> 
			  	</div>                            
		</div>
	
		<div id="step-6">
			<h2 class="StepTitle">Délais</h2> 
			<div id="Step6_content"> 
				<%= f.input :start_date, :label => "Date de début estimée", :discard_hour => true, :as => :string, :input_html => { :class => 'datepicker' }, :wrapper_html => { :class => "clearfix"}%>  
				<%= f.input :deliv_date, :label => "Date de livraison estimée", :discard_hour => true, :as => :string, :input_html => { :class => 'datepicker' }, :wrapper_html => { :class => "clearfix"} %> 
				<%= f.input :estimated_load, :label => "Charge estimée (jours)", :input_html => { :type => 'range', :min=>"0", :max => "300", :value => "0", :class=>"range" }, :wrapper_html => { :class => "clearfix"}%> 
					                            
		  	</div>	 
		</div>
	
	</div>


<% end %> 
	</div>
    </section> 
</div>
