
	
<h2><%= @project.title %></h2>
<hr />  
<div class="span-16" id="project_show">
	
	<h3>Objectif du projet</h3>
	<hr />
	<%= simple_format (h @project.objective) %>

	<h3>Contraintes d'utlisation</h3>
	<hr />
	<dl class="labelsAndData"> 
	<% if @project.pr_nb_user %> 
		<dt>Nombre d'utlisateurs:</dt> <dd><%= @project.pr_nb_user.number %></dd>
	<% end %> 
	<% if @project.pr_process_time %> 
		<dt>Temps de réponse:</dt> <dd><%= @project.pr_process_time.time %></dd>
	<% end %>
	<% if @project.pr_usage_freq %> 
		<dt>Fréquence d'utilisation:</dt> <dd><%= @project.pr_usage_freq.freq %></dd>
	<% end %>


	<h3>Contraintes techniques</h3>
	<hr />
	<% if @project.pr_arch %> 
		<dt>Architecture:</dt> <dd><%= @project.pr_arch.arch %></dd>
	<% end %>
	<% if @project.func_skills %> 
		<dt>Compétences fonctionnelles:</dt> <dd><%= @project.func_skills %></dd>
	<% end %>

	<dt>Langages et frameworks:</dt>
	<div class="clear"> </div>
	<dd>		
	<ul>
		<% for lang in @project.prog_langs %>
			<li><%= lang.name %></li>
		<% end %>
	</ul>
	</dd>

	<h3>Applications autour</h3>
<hr />	
	<dd>
	<ul>
	<% for app in @project.applications %>
		<li><%= app.name %></li>
	<% end %>
	</ul>
	</dd>

	<h3>Fichiers joints</h3>
	
	<hr />	
	<%= link_to @project.specfile_identifier, @project.specfile.url %>
</div>


<div id="job_overview" class="span-7 last  sideblock round">
	<h3>En un clin d'oeil</h3>
	<dl class="labelsAndData"> 
		<% if @project.pr_project_type %> 
			<dt>Type du projet:</dt> <dd><%= @project.pr_project_type.ptype %></dd>
		<% end %> 
		<dt>Posté le:</dt> <dd><%= l @project.created_at, :format => :date %></dd> 
		<!-- the l is to force the usage of localized date, it's equivalent to I18n.localize -->
		<% if @project.start_date %> 
			<dt>Date de début:</dt> <dd><%= l @project.start_date, :format => :date %></dd> 
		<% end %>
		<% if @project.deliv_date %> 
			<dt>Date de fin:</dt> <dd><%= l @project.deliv_date, :format => :date  %></dd> 
		<% end %>
		<% if @project.estimated_load %> 
			<dt>Charge estimée:</dt> <dd><%= @project.estimated_load  %> jours</dd> 
		<% end %>
		<dt>Posté par:</dt> <dd><%=link_to @project.employer.login, user_path(@project.employer.id) %></dd> 		
	</dl>
</div>



