<!-- nombre de jours, rating, compétences -->

<div class="main-content">
	<header> 
        <h2>Création d'un nouveau projet</h2> 
    </header>

	<section class="clearfix container_6" id="project_show">
	
<h2><%= @project.title %></h2>
</br>
<div class="grid_4" >
	
	<h3>Objectif du projet</h3>

	<%= simple_format (h @project.objective) %>
    </br>
	<h3>Contraintes d'utlisation</h3>
  
	<dl class="labelsAndData"> 
	<% if @project.pr_nb_user %> 
		<dt>Nombre d'utlisateurs:</dt> <dd><%= @project.pr_nb_user.number %></dd>
	<% end %> 
	<% if @project.pr_process_time %> 
		<dt>Temps de réponse:</dt> <dd><%= @project.pr_process_time.time %></dd>
	<% end %>
	<% if @project.pr_usage_freq %> 
		<dt>Fréquence d'utilisation:</dt> <dd><%= @project.pr_usage_freq.freq %></dd>
	<% end %>

	</br>
	<h3>Contraintes techniques</h3>

	<% if @project.pr_arch %> 
		<dt>Architecture:</dt> <dd><%= @project.pr_arch.arch %></dd>
	<% end %>
	<% if @project.func_skills %> 
		<dt>Compétences fonctionnelles:</dt> <dd><%= @project.func_skills %></dd>
	<% end %>
	</br>
	<dt>Langages et frameworks:</dt>
	<div class="clear"> </div>
	<dd>		
	<ul>
		<% for lang in @project.prog_langs %>
			<li><%= lang.name %></li>
		<% end %>
	</ul>
	</dd>
	</br>
	<h3>Applications autour</h3>
	
	<dd>
	<ul>
	<% for app in @project.applications %>
		<li><%= app.name %></li>
	<% end %>
	</ul>
	</dd>
	</br>
	<% if !@project.specfile.blank?  %>
		<h3>Fichiers joints</h3>
		<%= link_to @project.specfile_identifier, @project.specfile.url %>
	<%end%>
</div>

<div class="widgetc grid_2 ">
<div id="job_overview" class="widget grid_2 ">
	<header><h2>En un clin d'oeil</h2></header>
	<section>
	<dl class="labelsAndData"> 
		<% if @project.pr_project_type %> 
			<dt>Type du projet:</dt> <dd><%= @project.pr_project_type.ptype %></dd>
		<% end %> 
		<dt>Posté le:</dt> <dd><%= l @project.created_at, :format => :date %></dd> 
		<!-- the l is to force the usage of localized date, it's equivalent to I18n.localize -->
		<% if @project.start_date %> 
			<dt>Date de début:</dt> <dd><%= l @project.start_date, :format => :date %></dd> 
		<% end %>
		<% if @project.deliv_date %> 
			<dt>Date de fin:</dt> <dd><%= l @project.deliv_date, :format => :date  %></dd> 
		<% end %>
		<% if @project.estimated_load %> 
			<dt>Charge estimée:</dt> <dd><%= @project.estimated_load  %> jours</dd> 
		<% end %>
		<dt>Posté par:</dt> <dd><%=link_to @project.employer.login, user_path(@project.employer.id) %></dd> 		
	</dl>
	</section>
</div>
<div class="center">
	<%= link_to  "Postuler",new_project_offer_path(@project),:class => "button button-blue" %>
</div>
</div>

    </section> 
</div>

<% @offers.each do |offer|  %>
	<% div_for(offer, :class => "main-content", :name =>"offer_#{offer.id}") do %> 
		<header> 
			<h2>
				<%= offer.submitter.login %>
	       		<ul class="small-btn clearfix fr"> 
	 				<li><%= link_to "Contacter", "#", :class=>"button-green" %></li>
					<li><%= link_to "Choisir", "#", :class=>"button-orange" %></li>
				</ul>
			</h2>
	    </header>

		<section class="clearfix container_6">
			<%= offer.message %>
		</section>
	<%end%>
<%end%>




