<!DOCTYPE html>
<html>
  <head>
    <title>Linkao</title>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    


    <%= stylesheet_link_tag  'smart_wizard','token-input','token-input-mac','token-input-facebook','jquery-ui',"reset","grid","style","messages","forms","tables" %>
    
<%= javascript_include_tag "jquery","jquery.tools.min.js","jquery.cookie.js","jquery.tables.js","jquery.flot.js","jquery.ui.min.js","livevalidation","rails.validations","jquery.tokeninput","jquery.smartWizard-2.0.js","global.js"   %>

<%= jqgrid_stylesheets "gray" %>
<%=jqgrid_javascripts%>

  </head>
 <body>
  <div id="wrapper">
	  <header>
          <div class="clearfix">
              <div class="shortcuts">
                  <ul class="clearfix">
                      <li><a href="/" title="Aller au menu principal"><img src="/images/woofunction-icons/home_32.png" /><span>Home</span></a></li>


                      <li><a href="#" title="Gérer mes projets"><img src="/images/woofunction-icons/basket_32.png" /><span>Mes projets</span><em>20</em></a></li>
                      <li><a href="#" title="Consulter mes messages"><img src="/images/woofunction-icons/email_32.png" /><span>Messages</span><em>4</em></a></li>


                      <li><a href="#" title="Consulter les notifications"><img src="/images/woofunction-icons/error_button.png" /><span>Notifications</span><em>20</em></a></li>
                      <li><a href="#" title="Consulter les rapports"><img src="/images/woofunction-icons/chart_32.png" /><span>Rapports</span></a></li>
 
                      <li><a href="#" title="Editer mes connections"><img src="/images/woofunction-icons/user_32.png" /><span>Connections</span><em>5</em></a></li>
                  </ul>
              </div>

              <div class="clear"></div>

             
              <nav>
				<ul class="clearfix">
					<li><a href="/" title="Aller au menu principal"><img id="logo" src="/images/logo_small.png" /></a></li>
					<li><%= link_to "Dashboard", '#', :class=>"chevron" %></li>
					<li><%= link_to "Projets", '#', :class=>"arrow-down" %>
						<ul>
						    <li><%= link_to "Rechercher", proj_search_path %></li>
							<li><%= link_to "Poster", new_project_path %></li>
						</ul>
					</li>
					<% if signed_in? %>
						<li><%= link_to "Mon Profil", "#" %>
							<ul>
								<li>

								</li>
							</ul>
						</li>
					<% end %>
					
					<li class="fr action">
						<% if !signed_in? %> 
						    <%= link_to "S'inscrire", new_user_path, :class => "button button-orange" %>
					     <% end %>					
				    </li>
									
					<li class="fr action">
						<% if !signed_in? %> 
						    <%= link_to "Se connecter", "#", :class => "has-popupballoon button button-blue" %>
					        <div class="popupballoon bottom"> 
					            <h3>Connexion</h3> 
					            <!-- E-mail<br /> 
					            <input type="text" /><br /> 
					            Mote de passe<br /> 
					            <input type="text" /><br />  -->
								<%= simple_form_for(:session, :url => sessions_path) do |f| %>
								    <%= f.input:email , :required => false%> 
								    <%= f.input :password , :required => false%>
									<hr>
								    <%= f.button :submit, :value => "Se connecter", :class => "button button-orange" %>
									<div class="button button-gray close">Annuler</div> 
								<% end %> 
					        </div> 
					     <% else %>
							<%= link_to "Se déconnecter", signout_path, :method => :delete, :class => "button button-red" %>
					     <% end %>					
				    </li>
					
					<li class="fr"><%= link_to "Administration", '#', :class=>"arrow-down" %>
						<ul>
				           	<% if signed_in? %>
				    		 	<li><%= link_to "Paramètres", authentications_path %></li>
					      		<li><%= link_to "Déconnexion", signout_path, :method => :delete %></li>
						     <% else %>
						      <li><%= link_to "Se connecter", signin_path %></li>
						     <% end %>
						</ul>
					</li>	
				
	          	</ul>
              </nav>         
		</div>
		
	</header>
	

		
	
      		<section>
				<div class="container_8 clearfix">  
					<section class="main-section grid_8">
			    		<% flash.each do |key, value| %>
		          			<div class="flash <%= key %>"><%= value %></div>
							</br>
		        		<% end %>
		
		        		<%= yield %>
		    		</section>
				</div>
			</section>
				

 	<%= render 'layouts/olark' %>
	<%= debug(params) if Rails.env.development? %> 
	    </div>   
  </body>
</html>